<html>
<head>
<style>
body{
background-image:url("https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=2000");
}
</style></head>
<body>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
<h2>Send password reset link</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Reset">
</form>

<a href="{% url 'dashboard' %}"><button style = "color:DarkGreen">Back to dashboard</button></a>
{% endblock %}
</body>
</html>

